/* styles.css */

/* Smooth font */
body {
    font-family: 'Inter', sans-serif;
}

/* Alerts styling */
#alert-list li {
    padding: 10px;
    border-radius: 5px;
    margin-top: 5px;
    font-weight: bold;
}

/* Alert Colors */
.alert-cpu { background: #ffcc00; color: #000; }
.alert-ram { background: #ff4444; color: #fff; }
.alert-disk { background: #ff00ff; color: #fff; }
